01-topic-input-workflow.json
{
  "name": "1 - Topic Input (Submit Article Topic)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-topic",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook: Receive Topic",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "submit-topic",
      "notes": "POST /webhook/submit-topic\nBody: { \"topic\": \"Write about ROSA HCP vs Classic\", \"scheduled_at\": \"2025-01-15T10:00:00Z\" }"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.topic }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-node",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO article_topics (topic, status, scheduled_at)\nVALUES (\n  '{{ $json.body.topic }}',\n  'pending',\n  {{ $json.body.scheduled_at ? \"'\" + $json.body.scheduled_at + \"'\" : 'NULL' }}\n)\nRETURNING id, topic, status, created_at;",
        "additionalFields": {}
      },
      "id": "insert-topic-node",
      "name": "Insert Topic to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [750, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Topic queued successfully\",\n  \"id\": {{ $json.id }},\n  \"topic\": \"{{ $json.topic }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"created_at\": \"{{ $json.created_at }}\"\n}"
      },
      "id": "success-response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"topic field is required and must not be empty\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-node",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Webhook: Receive Topic": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Insert Topic to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Topic to PostgreSQL": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "tags": ["article-automation", "input"]
}