01-topic-input-workflow.json
{
  "name": "01 - Topic Input Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-topic",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Receive Topic",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "article-topic-input",
      "notes": "POST /webhook/article-topic\nBody: { topic, description, priority }"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.topic }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO article_topics (topic, description, priority)\nVALUES (\n  '{{ $json.body.topic.replace(/'/g, \"''\") }}',\n  '{{ ($json.body.description || '').replace(/'/g, \"''\") }}',\n  {{ $json.body.priority || 5 }}\n)\nRETURNING id, topic, status, created_at;",
        "additionalFields": {}
      },
      "name": "Insert Topic to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 220],
      "credentials": {
        "postgres": {
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Topic queued successfully', id: $json.id, topic: $json.topic, status: $json.status }) }}"
      },
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"topic field is required\" }",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Topic": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Insert Topic to DB", "type": "main", "index": 0 }],
        [{ "node": "Respond - Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Topic to DB": {
      "main": [[{ "node": "Respond - Success", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["article-automation"],
  "notes": "Webhook to submit article topics into the PostgreSQL queue.\nUsage: POST https://n8n.example.com/webhook/article-topic\n{ \"topic\": \"Your article topic\", \"description\": \"Optional context\", \"priority\": 1 }"
}
