02-scheduled-publishing-workflow.json
{
  "name": "2 - Scheduled Article Publisher (3x/week)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Mon/Wed/Fri 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs every Monday, Wednesday, Friday at 09:00.\nCron: 0 9 * * 1,3,5\nChange timezone in n8n settings: GENERIC_TIMEZONE"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, topic, retry_count\nFROM article_topics\nWHERE status = 'pending'\n  AND (scheduled_at IS NULL OR scheduled_at <= NOW())\nORDER BY created_at ASC\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
        "additionalFields": {}
      },
      "id": "fetch-topic-node",
      "name": "Fetch Next Pending Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-topic-check",
      "name": "Topic Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300],
      "notes": "If no pending topic, stop gracefully"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET status = 'processing', scheduled_at = NOW()\nWHERE id = {{ $json[0].id }}\nRETURNING id, topic;",
        "additionalFields": {}
      },
      "id": "mark-processing-node",
      "name": "Mark Topic as Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 4000,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert technical writer specializing in cloud infrastructure, DevOps, Kubernetes, and platform engineering. Write engaging, in-depth technical blog posts that are practical, well-structured, and suitable for publication on Dev.to. Include code examples where relevant. Format output as valid Markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a comprehensive technical blog article about the following topic:\\n\\n{{ $json[0].topic }}\\n\\nThe article should:\\n- Have an engaging title as an H1 heading\\n- Include a brief TL;DR summary\\n- Have clearly structured sections with H2/H3 headings\\n- Include practical examples, code snippets, or diagrams where applicable\\n- Be between 1500 and 2500 words\\n- End with a conclusion and call to action\\n- Use tags relevant to the topic for Dev.to publishing\\n\\nAt the end of the article, on a new line, provide 5 relevant Dev.to tags in this exact format:\\nTAGS: tag1, tag2, tag3, tag4, tag5\"\n    }\n  ]\n}"
      },
      "id": "generate-article-node",
      "name": "Generate Article via LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "notes": "Uses OpenAI GPT-4o. Swap URL/model for Anthropic Claude, Mistral, etc.\nCredential: HTTP Header Auth with Authorization: Bearer <LLM_API_KEY>"
    },
    {
      "parameters": {
        "jsCode": "// Extract the generated article text from OpenAI response\nconst response = $input.first().json;\nconst articleRaw = response.choices[0].message.content;\n\n// Split out TAGS line\nconst lines = articleRaw.split('\\n');\nconst tagsLine = lines.find(l => l.startsWith('TAGS:'));\nconst tags = tagsLine \n  ? tagsLine.replace('TAGS:', '').trim().split(',').map(t => t.trim())\n  : ['devops', 'kubernetes', 'cloud', 'tutorial'];\n\n// Remove TAGS line from article body\nconst article = lines.filter(l => !l.startsWith('TAGS:')).join('\\n').trim();\n\n// Extract title from first H1\nconst titleMatch = article.match(/^#\\s+(.+)$/m);\nconst title = titleMatch ? titleMatch[1].trim() : 'Technical Article';\n\n// Word count\nconst wordCount = article.split(/\\s+/).length;\n\n// Get topic id from earlier node\nconst topicId = $('Mark Topic as Processing').first().json[0].id;\nconst topic   = $('Mark Topic as Processing').first().json[0].topic;\n\nreturn [\n  {\n    json: {\n      topic_id:   topicId,\n      topic:      topic,\n      title:      title,\n      article:    article,\n      tags:       tags,\n      word_count: wordCount,\n      generated_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "parse-article-node",
      "name": "Parse & Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_SMTP_SENDER }}",
        "toEmail": "your-email@gmail.com",
        "subject": "=📝 New Article Ready: {{ $json.title }}",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: #FF6D5A; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .meta { background: #f5f5f5; padding: 15px; border-left: 4px solid #FF6D5A; margin: 10px 0; }\n    .article { background: white; padding: 20px; border: 1px solid #ddd; border-radius: 4px; }\n    pre { background: #2d2d2d; color: #f8f8f2; padding: 15px; border-radius: 4px; overflow-x: auto; }\n    .tags span { background: #e0f0ff; padding: 3px 8px; border-radius: 12px; margin-right: 5px; font-size: 12px; }\n    .footer { color: #888; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1 style=\"margin:0\">📝 New Article Generated</h1>\n    <p style=\"margin:5px 0 0\">n8n Auto-Publisher</p>\n  </div>\n  <div class=\"meta\">\n    <strong>Topic:</strong> {{ $json.topic }}<br>\n    <strong>Title:</strong> {{ $json.title }}<br>\n    <strong>Word Count:</strong> {{ $json.word_count }} words<br>\n    <strong>Generated:</strong> {{ $json.generated_at }}<br>\n    <strong>Topic ID:</strong> #{{ $json.topic_id }}\n  </div>\n  <div class=\"tags\">\n    <strong>Tags:</strong>\n    {{ $json.tags.map(t => '<span>#' + t + '</span>').join('') }}\n  </div>\n  <hr>\n  <div class=\"article\">\n    <h2>Article Content (Markdown)</h2>\n    <pre style=\"white-space: pre-wrap; font-family: monospace; font-size: 13px;\">{{ $json.article }}</pre>\n  </div>\n  <div class=\"footer\">\n    <p>Generated by n8n auto-publisher on Kubernetes. To publish on Dev.to, copy the Markdown content above.</p>\n    <p>To submit a new topic: POST https://n8n.yourdomain.com/webhook/submit-topic</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Article via Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1750, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "n8n SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.DEV_TOKEN || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "dev-token-check",
      "name": "Dev.to Token Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 200],
      "notes": "Optional: only publish to Dev.to if DEV_TOKEN env var is set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.to/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.DEV_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"article\": {\n    \"title\": \"{{ $('Parse & Format Article').first().json.title }}\",\n    \"body_markdown\": {{ JSON.stringify($('Parse & Format Article').first().json.article) }},\n    \"published\": false,\n    \"tags\": {{ JSON.stringify($('Parse & Format Article').first().json.tags.slice(0,4)) }},\n    \"series\": \"Auto-Published\"\n  }\n}",
        "options": {}
      },
      "id": "devto-publish-node",
      "name": "Publish Draft to Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 100],
      "notes": "Creates article as DRAFT on Dev.to. Change 'published': true to auto-publish."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET \n  status = 'done',\n  processed_at = NOW(),\n  article_url = {{ $json.url ? \"'\" + $json.url + \"'\" : 'NULL' }}\nWHERE id = {{ $('Parse & Format Article').first().json.topic_id }};",
        "additionalFields": {}
      },
      "id": "mark-done-devto-node",
      "name": "Mark Done (with Dev.to URL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2500, 100],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET \n  status = 'done',\n  processed_at = NOW()\nWHERE id = {{ $('Parse & Format Article').first().json.topic_id }};",
        "additionalFields": {}
      },
      "id": "mark-done-node",
      "name": "Mark Done (email only)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2250, 350],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET \n  status = CASE WHEN retry_count >= 3 THEN 'failed' ELSE 'pending' END,\n  retry_count = retry_count + 1,\n  error_msg = 'Generation or delivery failed - will retry',\n  scheduled_at = NOW() + INTERVAL '1 hour'\nWHERE id = {{ $('Mark Topic as Processing').first().json[0].id }};",
        "additionalFields": {}
      },
      "id": "handle-error-node",
      "name": "Handle Error / Retry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1750, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData"
      },
      "id": "no-topic-node",
      "name": "No Pending Topic - Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 450],
      "notes": "No pending topics in queue - execution ends gracefully"
    }
  ],
  "connections": {
    "Schedule: Mon/Wed/Fri 9am": {
      "main": [
        [
          {
            "node": "Fetch Next Pending Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Pending Topic": {
      "main": [
        [
          {
            "node": "Topic Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Available?": {
      "main": [
        [
          {
            "node": "Mark Topic as Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Topic - Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Topic as Processing": {
      "main": [
        [
          {
            "node": "Generate Article via LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article via LLM": {
      "main": [
        [
          {
            "node": "Parse & Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Article": {
      "main": [
        [
          {
            "node": "Send Article via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Article via Email": {
      "main": [
        [
          {
            "node": "Dev.to Token Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev.to Token Available?": {
      "main": [
        [
          {
            "node": "Publish Draft to Dev.to",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Done (email only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Draft to Dev.to": {
      "main": [
        [
          {
            "node": "Mark Done (with Dev.to URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "3 - Error Handler"
  },
  "tags": ["article-automation", "publisher", "scheduled"]
}