02-scheduled-publishing-workflow.json
{
  "name": "02 - Scheduled Article Publishing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,3,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - 3x Per Week",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Runs Mon/Wed/Fri at 08:00 UTC\nCron: 0 8 * * 1,3,5\nAdjust in ConfigMap: GENERIC_TIMEZONE"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, topic, retry_count\nFROM article_topics\nWHERE status = 'pending'\n  AND retry_count < 3\nORDER BY created_at ASC\nLIMIT 1;",
        "options": {}
      },
      "id": "postgres-fetch-topic",
      "name": "PostgreSQL - Fetch Next Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-topic-exists",
      "name": "IF - Topic Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics SET status = 'processing', scheduled_at = NOW() WHERE id = {{ $json[0].id }} RETURNING id, topic;",
        "options": {}
      },
      "id": "postgres-mark-processing",
      "name": "PostgreSQL - Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert technical writer and software engineer. You write clear, in-depth, well-structured blog articles for platforms like Medium, Dev.to, and personal engineering blogs.\n\nYour articles:\n- Are targeted at senior engineers and DevOps practitioners\n- Include real-world examples, code snippets, architecture diagrams (described), and practical advice\n- Follow a clear structure: Introduction, Problem Statement, Architecture, Step-by-Step Guide, Best Practices, Conclusion\n- Use proper Markdown formatting with headers (##, ###), code blocks (```), lists, and bold emphasis\n- Are between 1500-2500 words\n- Begin with a compelling introduction that establishes the context and value\n- End with a strong conclusion and call to action\n\nFormat the article in Medium-ready Markdown."
            },
            {
              "role": "user",
              "content": "Write a comprehensive technical blog article about the following topic:\n\n**Topic:** {{ $('PostgreSQL - Mark Processing').item.json.topic }}\n\nRequirements:\n1. Minimum 1500 words, target 2000 words\n2. Include practical code examples and configuration snippets\n3. Structure with clear ##  headings\n4. Include a TL;DR section at the top\n5. Include a 'Getting Started' prerequisites section\n6. Include real-world architectural considerations\n7. End with a conclusion and next steps\n8. Format for Medium publication (Markdown)\n\nAlso provide:\n- A compelling article TITLE (not the raw topic)\n- A 2-sentence meta description for SEO\n- 5 relevant tags for Medium"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "openai-generate-article",
      "name": "OpenAI - Generate Article",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI API"
        }
      },
      "notes": "Uses GPT-4o. Switch model to claude-3-5-sonnet or other LLMs by changing credentials and node type."
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $input.item.json.message.content;\n\n// Extract article title (first # heading or first line)\nconst titleMatch = rawContent.match(/^#\\s+(.+)$/m) || rawContent.match(/\\*\\*Title:\\*\\*\\s*(.+)/m);\nconst articleTitle = titleMatch ? titleMatch[1].trim() : $('PostgreSQL - Mark Processing').item.json.topic;\n\n// Extract tags if provided\nconst tagsMatch = rawContent.match(/Tags?:.*?([\\w\\s,#-]+)(?:\\n|$)/i);\nconst tags = tagsMatch ? tagsMatch[1].split(',').map(t => t.trim().replace('#', '')) : ['devops', 'kubernetes', 'automation'];\n\n// Calculate word count\nconst wordCount = rawContent.split(/\\s+/).length;\n\n// Format timestamp\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    topic_id: $('PostgreSQL - Mark Processing').item.json.id,\n    topic: $('PostgreSQL - Mark Processing').item.json.topic,\n    article_title: articleTitle,\n    article_content: rawContent,\n    word_count: wordCount,\n    tags: tags,\n    generated_at: now.toISOString(),\n    date_str: dateStr\n  }\n}];"
      },
      "id": "code-format-article",
      "name": "Code - Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "fromEmail": "n8n Automation <your-email@gmail.com>",
        "toEmail": "your-email@gmail.com",
        "subject": "=New Article Ready: {{ $json.article_title }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; color: #333; }\n  .header { background: #663399; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n  .meta { background: #f5f5f5; padding: 15px; border-left: 4px solid #663399; margin: 20px 0; }\n  .article-body { line-height: 1.7; white-space: pre-wrap; font-family: Georgia, serif; }\n  .footer { color: #888; font-size: 0.85em; margin-top: 30px; border-top: 1px solid #eee; padding-top: 15px; }\n  code { background: #f4f4f4; padding: 2px 5px; border-radius: 3px; font-family: monospace; }\n  pre { background: #1e1e1e; color: #d4d4d4; padding: 15px; border-radius: 6px; overflow-x: auto; }\n  h2 { color: #663399; }\n  .tags span { background: #e8d5f5; color: #663399; padding: 3px 10px; border-radius: 12px; margin-right: 5px; font-size: 0.85em; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📝 New Article Ready for Publishing</h1>\n    <p>Generated: {{ $json.generated_at }}</p>\n  </div>\n  <div class=\"meta\">\n    <strong>Topic:</strong> {{ $json.topic }}<br>\n    <strong>Title:</strong> {{ $json.article_title }}<br>\n    <strong>Word Count:</strong> {{ $json.word_count }} words<br>\n    <div class=\"tags\" style=\"margin-top:8px\">{{ $json.tags.map(t => '<span>#' + t + '</span>').join('') }}</div>\n  </div>\n  <div class=\"article-body\">\n{{ $json.article_content }}\n  </div>\n  <div class=\"footer\">\n    <p>Generated by n8n automation on {{ $json.date_str }}</p>\n    <p>To publish on Medium: Log in to medium.com → New Story → Paste the article content</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-send-article",
      "name": "Email - Send Article",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1560, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP Gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.MEDIUM_TOKEN }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-medium-enabled",
      "name": "IF - Medium Token Set?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 200],
      "notes": "Checks if MEDIUM_TOKEN env var is set (not DISABLED)"
    },
    {
      "parameters": {
        "url": "https://api.medium.com/v1/users/me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "headers": {
            "values": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.MEDIUM_TOKEN }}"
              }
            ]
          }
        }
      },
      "id": "medium-get-user",
      "name": "Medium - Get User ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 100],
      "notes": "Fetches Medium user ID needed for publication"
    },
    {
      "parameters": {
        "url": "=https://api.medium.com/v1/users/{{ $json.data.id }}/posts",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Code - Format Article').item.json.article_title }}"
            },
            {
              "name": "contentFormat",
              "value": "markdown"
            },
            {
              "name": "content",
              "value": "={{ $('Code - Format Article').item.json.article_content }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Code - Format Article').item.json.tags }}"
            },
            {
              "name": "publishStatus",
              "value": "draft"
            }
          ]
        },
        "options": {
          "headers": {
            "values": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.MEDIUM_TOKEN }}"
              }
            ]
          }
        }
      },
      "id": "medium-publish-draft",
      "name": "Medium - Create Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 100],
      "notes": "Creates a DRAFT on Medium (publishStatus: draft). Change to 'public' to publish immediately."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET status = 'done',\n    processed_at = NOW(),\n    article_title = '{{ $('Code - Format Article').item.json.article_title.replace(/'/g, \"''\") }}',\n    article_url = '{{ ($('Medium - Create Draft').item.json.data?.url || 'email-only').replace(/'/g, \"''\") }}'\nWHERE id = {{ $('Code - Format Article').item.json.topic_id }}\nRETURNING id, topic, status, processed_at;",
        "options": {}
      },
      "id": "postgres-mark-done",
      "name": "PostgreSQL - Mark Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2440, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET status = 'error',\n    retry_count = retry_count + 1,\n    error_message = 'Workflow execution failed'\nWHERE id = {{ $('PostgreSQL - Mark Processing').item.json.id }};",
        "options": {}
      },
      "id": "postgres-mark-error",
      "name": "PostgreSQL - Mark Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "n8n PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "content": "## No Topics Available\n\nNo pending topics found in the queue.\nScheduler will check again at the next scheduled run.\n\nTo add topics, POST to:\n`/webhook/submit-topic`",
        "options": {}
      },
      "id": "no-topics-note",
      "name": "Note - No Topics",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 480]
    }
  ],
  "connections": {
    "Schedule - 3x Per Week": {
      "main": [
        [{ "node": "PostgreSQL - Fetch Next Topic", "type": "main", "index": 0 }]
      ]
    },
    "PostgreSQL - Fetch Next Topic": {
      "main": [
        [{ "node": "IF - Topic Exists?", "type": "main", "index": 0 }]
      ]
    },
    "IF - Topic Exists?": {
      "main": [
        [{ "node": "PostgreSQL - Mark Processing", "type": "main", "index": 0 }],
        []
      ]
    },
    "PostgreSQL - Mark Processing": {
      "main": [
        [{ "node": "OpenAI - Generate Article", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Generate Article": {
      "main": [
        [{ "node": "Code - Format Article", "type": "main", "index": 0 }]
      ]
    },
    "Code - Format Article": {
      "main": [
        [{ "node": "Email - Send Article", "type": "main", "index": 0 }]
      ]
    },
    "Email - Send Article": {
      "main": [
        [{ "node": "IF - Medium Token Set?", "type": "main", "index": 0 }]
      ]
    },
    "IF - Medium Token Set?": {
      "main": [
        [{ "node": "Medium - Get User ID", "type": "main", "index": 0 }],
        [{ "node": "PostgreSQL - Mark Done", "type": "main", "index": 0 }]
      ]
    },
    "Medium - Get User ID": {
      "main": [
        [{ "node": "Medium - Create Draft", "type": "main", "index": 0 }]
      ]
    },
    "Medium - Create Draft": {
      "main": [
        [{ "node": "PostgreSQL - Mark Done", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "03 - Error Handler"
  },
  "tags": ["article-automation", "scheduled", "publishing"],
  "notes": "=== SCHEDULED PUBLISHING WORKFLOW ===\n\nSchedule: Mon/Wed/Fri at 08:00\nCron: 0 8 * * 1,3,5\n\nFlow:\n1. Trigger (schedule)\n2. Fetch oldest pending topic from PostgreSQL\n3. Mark as 'processing'\n4. Generate article via OpenAI GPT-4o\n5. Format and extract metadata\n6. Send full article via email\n7. If MEDIUM_TOKEN is set: publish as draft to Medium\n8. Mark topic as 'done'\n\nError handling:\n- If no topic: silently skip\n- If LLM fails: mark topic as 'error', increment retry_count\n- If retry_count >= 3: topic stays as error (manual review needed)\n\nCredentials needed:\n- postgres-creds: PostgreSQL connection\n- openai-creds: OpenAI API key\n- smtp-creds: Gmail/SMTP credentials"
}
