n8n-k8s-vault/workflows/02-scheduled-publisher.json
{
  "name": "02 - Scheduled Article Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,3,5"
            }
          ]
        }
      },
      "name": "Schedule: Mon/Wed/Fri 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "schedule-trigger",
      "notes": "Runs Monday, Wednesday, Friday at 08:00 (server timezone = GENERIC_TIMEZONE)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET status = 'processing'\nWHERE id = (\n  SELECT id FROM article_topics\n  WHERE status = 'pending'\n  ORDER BY priority ASC, created_at ASC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING id, topic, notes, priority, created_at;",
        "options": {}
      },
      "name": "Claim Next Pending Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [480, 300],
      "id": "claim-topic",
      "credentials": {
        "postgres": {
          "name": "n8n-postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Pending Topic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300],
      "id": "has-pending"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an expert technical writer and developer advocate. Write high-quality, in-depth blog articles for software engineers. Structure articles with: 1) TL;DR, 2) Introduction, 3) Background/Context, 4) Main Content (with code examples and diagrams as ASCII where relevant), 5) Best Practices, 6) Conclusion, 7) References. Use Markdown formatting suitable for Medium. Aim for 1500-2500 words.\"}, {\"role\": \"user\", \"content\": \"Write a comprehensive technical blog article about the following topic:\\n\\nTopic: {{ $node['Claim Next Pending Topic'].json[0].topic }}\\nAdditional notes: {{ $node['Claim Next Pending Topic'].json[0].notes || 'None' }}\\n\\nPlease write a complete, well-structured article ready for publishing on Medium.\"}]"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Generate Article via OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 200],
      "id": "generate-article",
      "notes": "Calls OpenAI GPT-4o. Swap URL/params for Anthropic, Mistral, etc."
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst topic = $node['Claim Next Pending Topic'].json[0];\nconst topicId = topic.id;\nconst topicText = topic.topic;\n\n// Extract the generated text\nconst articleContent = response.choices?.[0]?.message?.content || '';\n\n// Parse title from first # heading or use topic\nconst titleMatch = articleContent.match(/^#\\s+(.+)$/m);\nconst articleTitle = titleMatch ? titleMatch[1].trim() : topicText;\n\n// Build HTML email version\nconst htmlContent = articleContent\n  .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n  .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n  .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n  .replace(/^\\*\\*(.+?)\\*\\*/gm, '<strong>$1</strong>')\n  .replace(/^\\*(.+?)\\*/gm, '<em>$1</em>')\n  .replace(/```([\\s\\S]*?)```/g, '<pre><code>$1</code></pre>')\n  .replace(/`([^`]+)`/g, '<code>$1</code>')\n  .replace(/\\n\\n/g, '</p><p>')\n  .replace(/^(.+)$/gm, (line) => {\n    if (line.startsWith('<h') || line.startsWith('<pre') || line.startsWith('<ul') || line.trim() === '') return line;\n    return line;\n  });\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Georgia, serif; max-width: 800px; margin: 40px auto; color: #333; line-height: 1.7; }\n    h1 { color: #1a1a1a; font-size: 2em; border-bottom: 2px solid #333; padding-bottom: 10px; }\n    h2 { color: #2c2c2c; font-size: 1.5em; margin-top: 2em; }\n    h3 { color: #444; font-size: 1.2em; }\n    pre { background: #f4f4f4; border-left: 4px solid #0070f3; padding: 16px; overflow-x: auto; border-radius: 4px; }\n    code { background: #f0f0f0; padding: 2px 6px; border-radius: 3px; font-family: monospace; font-size: 0.9em; }\n    pre code { background: none; padding: 0; }\n    .meta { background: #f9f9f9; border: 1px solid #eee; padding: 12px 20px; border-radius: 6px; margin-bottom: 24px; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee; color: #888; font-size: 0.85em; }\n  </style>\n</head>\n<body>\n  <div class=\"meta\">\n    <strong>Topic:</strong> ${topicText}<br>\n    <strong>Generated:</strong> ${new Date().toISOString()}<br>\n    <strong>Topic ID:</strong> ${topicId}\n  </div>\n  <p>${htmlContent}</p>\n  <div class=\"footer\">\n    <p>Generated by n8n Article Automation · <a href=\"https://n8n.yourdomain.com\">View in n8n</a></p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    topicId,\n    topicText,\n    articleTitle,\n    articleContent,\n    emailHtml,\n    wordCount: articleContent.split(/\\s+/).length,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200],
      "id": "format-article"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_SMTP_SENDER }}",
        "toEmail": "your-email@yourdomain.com",
        "subject": "=📝 New Article Ready: {{ $json.articleTitle }}",
        "emailFormat": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1440, 200],
      "id": "send-email",
      "credentials": {
        "smtp": {
          "name": "n8n-smtp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET\n  status       = 'done',\n  processed_at = NOW(),\n  article_title = '{{ $node['Format Article'].json.articleTitle.replace(/'/g, \"''\") }}',\n  email_sent   = TRUE,\n  retry_count  = retry_count\nWHERE id = {{ $node['Format Article'].json.topicId }};",
        "options": {}
      },
      "name": "Mark Topic Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1680, 200],
      "id": "mark-done",
      "credentials": {
        "postgres": {
          "name": "n8n-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_runs (topic_id, status, n8n_exec_id)\nVALUES ({{ $node['Format Article'].json.topicId }}, 'success', '{{ $execution.id }}');",
        "options": {}
      },
      "name": "Log Run Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1920, 200],
      "id": "log-run-success",
      "credentials": {
        "postgres": {
          "name": "n8n-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE article_topics\nSET\n  status      = CASE WHEN retry_count >= 3 THEN 'error' ELSE 'pending' END,\n  retry_count = retry_count + 1,\n  error_msg   = 'Workflow execution failed'\nWHERE id = {{ $node['Claim Next Pending Topic'].json[0].id }};",
        "options": {}
      },
      "name": "Mark Topic Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [960, 500],
      "id": "mark-error",
      "credentials": {
        "postgres": {
          "name": "n8n-postgres"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_SMTP_SENDER }}",
        "toEmail": "your-email@yourdomain.com",
        "subject": "⚠️ n8n Article Workflow Error",
        "emailFormat": "html",
        "message": "<h2>Article Generation Failed</h2><p>The scheduled article generation workflow encountered an error.</p><p><strong>Topic:</strong> {{ $node['Claim Next Pending Topic'].json[0].topic }}</p><p><strong>Time:</strong> {{ $now }}</p><p>Please check the n8n execution log for details.</p>",
        "options": {}
      },
      "name": "Email Error Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1200, 500],
      "id": "email-error",
      "credentials": {
        "smtp": {
          "name": "n8n-smtp"
        }
      }
    },
    {
      "parameters": {
        "message": "=No pending topics found. Skipping scheduled run at {{ $now }}.",
        "options": {}
      },
      "name": "No Topics Available",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420],
      "id": "no-topics"
    }
  ],
  "connections": {
    "Schedule: Mon/Wed/Fri 08:00": {
      "main": [
        [{ "node": "Claim Next Pending Topic", "type": "main", "index": 0 }]
      ]
    },
    "Claim Next Pending Topic": {
      "main": [
        [{ "node": "Has Pending Topic?", "type": "main", "index": 0 }]
      ]
    },
    "Has Pending Topic?": {
      "main": [
        [{ "node": "Generate Article via OpenAI", "type": "main", "index": 0 }],
        [{ "node": "No Topics Available", "type": "main", "index": 0 }]
      ]
    },
    "Generate Article via OpenAI": {
      "main": [
        [{ "node": "Format Article", "type": "main", "index": 0 }]
      ]
    },
    "Format Article": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [
        [{ "node": "Mark Topic Done", "type": "main", "index": 0 }]
      ]
    },
    "Mark Topic Done": {
      "main": [
        [{ "node": "Log Run Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "errorWorkflow": "03-error-handler",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "03-error-handler"
  },
  "tags": ["article-automation", "scheduled", "publishing"]
}
